.navbar-dark-lavender {
    background-color: #8761ac;
}


.header {
    background-color: #6b5b95;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.custom-title {
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
}


.nav-link {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

@media (max-width: 768px) {
    .custom-title {
        font-size: 1.2rem;
    }

    .hheader {
        padding: 1rem;
    }
}