.modalBackground {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 10 !important;
  background: rgba(0, 0, 0, 0.4);
}
input{
  border-radius: 15px;
  border: 2px solid #d7d7d7;
  padding: 2px;

}
.modalContainer {
  width: 100vh;
  max-height: fit-content;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.label-txt{
  white-space: nowrap;
}

.success-message {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  position: fixed; 
  top: 20px; 
  right: 20px; 
  border-radius: 5px; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 3px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: 500;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 100px;
  height: 45px;
  margin: 5px;
  border: none;
  background-color: rgb(152, 154, 253);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
  font-weight: 600;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
  font-weight: 600;
}

.error-text {
  color: #b40e0e;
  font-weight: 600;
}
