.main-content {
  color: black;
  display: flex;
  justify-content: center;
  flex-direction:row;
  padding: 3rem;
  width: 70rem;
}

.side-content {
  height: 100vh;
  display: flex;
  margin-right: auto;
}

@media (max-width: 768px) {
  .side-content {
    flex-direction: column;
  }

  .main-content {
    padding-top: 40px;
  }
}
