.select-field {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(23, 152, 203);
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  position: fixed;
  margin-left: auto;
}
