.footer {
    padding: 1.2em 0;

}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
  }

@media screen and (max-width: 768px) {
    .footer-text {
        font-size: 0.8em !important;
    }
}