.prev {
    background-color: #8761ac;
    border: 1px solid lavender;
    color: white;
    padding: 8px 16px;
    margin-right: 8px;
    cursor: pointer;
}

.next {
    background-color: #8761ac;
    border: 1px solid lavender;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}

.prev:hover {
    background-color: #583e70;
}

.next:hover {
    background-color: #583e70;
}